@model Investments.Models.DateIdea;
@{
    ViewData["Title"] = "Date Idea";
}


<div class="text-center">
    <h1 class="display-4">@Model.NameOfEvent</h1>
</div>

<!-- Information about Date Idea -->
<div class="container">
    <a class="lead" target="_blank"
       href="@Model.Href">
        @Model.LinkText

        <img src="@Model.ImagePath" class="img-fluid"/>
    </a>
</div>

<code class="lead">Address:</code>
<p class="lead">@Model.Address</p>



<div class="row">

    <div class="col-6">

        <!-- Edit Button-->
        <form asp-controller="Vanessa" asp-action="EditDateIdeaView" asp-route-id="@Model.ID">

            <input class="btn btn-info col-6"
                   type="submit" value="Edit"/>

        </form>

    </div>


    <div class="col-6">

        <!-- Delete Button-->
        <form asp-controller="Vanessa" asp-action="DeleteDateIdeaConfirmation" asp-route-id="@Model.ID">

            <input class="btn btn-danger col-6"
                   type="submit"
        value="Delete"/>

        </form>

    </div>
</div>



