@model Game;
@{
    ViewData["Title"] = "DRAW!!!";
}

<div class="text-center">

    <h1 class="display-4">DRAW!!!</h1>

    <form asp-controller="TicTacToe" asp-action="DisplayGame">

        <input type="hidden"
               asp-for="Player1.Name" value="@Model.Player1.Name" />
        <input type="hidden"
               asp-for="Player1.Wins" value="@Model.Player1.Wins" />

        <input type="hidden"
               asp-for="Player2.Name" value="@Model.Player2.Name" />
        <input type="hidden"
               asp-for="Player2.Wins" value="@Model.Player2.Wins" />

        <img class="img-fluid" width="800" height="300"
             src="@Model.PlayerTurn.CelebrationGifPath" />

        <!-- Submit Button -->
        <br /><br />
        <input type="submit" value="Restart Game" class="btn btn-success" />

    </form>
</div>
